<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../public/css/custom.css">
	<link rel="stylesheet" type="text/css" href="../public/css/font-awesome.min.css">
	<title></title>
</head>
<body>
	<div>
		<div class="float-l">
			<i class="fa fa-line-chart fa-4x float-l"></i>
			<div class="float-l ml-15 fz-smaller">GRAM ALTIN</div><br>
			<span class="ml-15 lg-text" id="gold-val"></span><br>
			<span class="ml-15" id="gold-change-rate"></span>
		</div>
		<div class="ml-55 float-l">
			<i class="fa fa-usd fa-4x float-l"></i>
			<div class="float-l ml-15 fz-smaller">DOLAR</div><br>
			<span class="ml-15 lg-text" id="dolar-val"></span><br>
			<span class="ml-15" id="dolar-change-rate"></span>
		</div>
		<div class="ml-55 float-l">
			<i class="fa fa-euro fa-4x float-l"></i>
			<div class="float-l ml-15 fz-smaller">DOLAR</div><br>
			<span class="ml-15 lg-text" id="euro-val"></span><br>
			<span class="ml-15" id="euro-change-rate"></span>
		</div>
	</div>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>    
<script type="text/javascript">
    let $ = require('jquery');
    const {ipcRenderer} = require('electron');
    const cron = require('node-cron');

    $(function() {

    	let checkMinutes = 1;
		let interval = checkMinutes * 60 * 1000;

		setTimeout(function(){
		  getData();
		}, 500);

    	let task = cron.schedule('* * * * *', function() {
    		getData();
    	});
    	task.start();

    	function getData(){
    		ipcRenderer.on('currency-reply', (event, data) => {
			  let len = data.length;
			  for (var i = 0; i < len; i++){
			  	if (data[i].name == 'gram-altin'){
			  		$('#gold-val').text(data[i].selling);
			  		$('#gold-change-rate').text('% ' + data[i].change_rate);
			  	}else if(data[i].name == 'amerikan-dolari'){
			  		$('#dolar-val').text(data[i].selling);
			  		$('#dolar-change-rate').text('% ' + data[i].change_rate);
			  	}else if (data[i].name == 'euro'){
			  		$('#euro-val').text(data[i].selling);
			  		$('#euro-change-rate').text('% ' + data[i].change_rate);
			  	}
			  }
			});
			ipcRenderer.send('get-currency', true);
    	}

    });


</script>
</body>
</html>