body {
	background-color: #222446;
	color: white;
  -webkit-app-region: drag;
}

.ml-15 {
	margin-left: 15px;
}

.float-l {
	width: 190px;
	float: left;
}

.ml-55 {
	margin-left: 40px;
}

.lg-text {
	font-size: x-large;
}

.fz-smaller {
	font-size: smaller;
}

.mt-50 {
	margin-top: 50px;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  
  border-top: 13px solid #f00;
}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  
  border-bottom: 13px solid green;
}